.viewport {
    margin: 50px auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #000;
    touch-action: none; /* Prevent pointermove default panning */
    margin: 0;
    padding: 0;
}

#viewportTarget {
    width: 1000px;
    height: 1000px;
}