:root {
    /* shounic color :3 */
    --color-bg: #304654;
    --color-light-bg: rgb(54, 79, 94);
    --color-dark-bg: #222d34;

    --color-menu-button-hover: #395a6e;
    --color-button-outline: #222d34;
    --color-standard-button: #7494ae;
    --color-standard-button-selected: #d0dce6;

    
    --color-link-hover: #19a8f6;
    --color-link-active: #19a8f6;
    --color-link-resting: #19a8f6;
    --color-link-visited: #ff8e2a;
    

    --color-text: #e9f1f5;
    --color-text-faded: #e9f1f5a6;
    --color-text-footer: #e9f1f575;
    --color-header: #e9f1f5;

    --color-dark-text: #222d34;

    /* 'Afacad Flux' */

    --min-double-wide-width: 500px;

    --font: Arial;

    --pairing-border-thickness: 2px;
    --sub-border-thickness: 0px;
    --sub-highlight-color: var(--color-dark-bg);
    --additional-z: none;
}

html {
    margin: 0;
    border: none;
    height: 100%;
    flex: 1;
}

p {
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-family: var(--font);
}

body {
    background-color: var(--color-bg); 
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
}


#helpBar {
    padding: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222d34a2;
}

.pairing {
    width: calc(100% - 30px);
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;

    display: grid;
    grid-auto-rows: 1fr;
    max-width: 300px;
    min-width: 120px;
}

.pairing > div {
    width: 100%;
    height: 100%;
    background-color: #222d34;
    border: 1px solid black; 

    color: white;
    overflow: hidden;
    padding-left: 2px;
    line-height: 25px;
    font-family: var(--font);

}

.pairing > div {
    width: 100%;
    height: 100%;
    background-color: #222d34;
    border: 1px solid black; 
}

.pairing > div:first-child {
    border-bottom: none;
}

.pairing:hover {
    outline: var(--pairing-border-thickness) solid rgb(255, 255, 255); 
}

.pairing > div:hover {
    background-color: var(--sub-highlight-color);
    outline: var(--sub-border-thickness) solid white;
    z-index: var(--additional-z);
}

.glass {
    pointer-events: none;
}

.winning {
    background-color: #9c9a1f !important;
}

#container {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 30px;
    width: max-content;
    height: auto;
}

.header {
    text-align: center;
    width: 100%;
    height: 70px;
    font-size: 40px;
    line-height: 70px;
}

.containerEmployee {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}


